Repository guacsec/trustify-ui, pull requests merged in 2025-09, with the labels that each got.

#698 ci: reference trustify-release-tools
  .github/workflows/image-build.yaml
  .github/workflows/issues.yaml
  .github/workflows/pr-closed.yaml
  CONTRIBUTING.md
Labels: needs-backport

#697 tests: Add Advisory UI tests
  e2e/tests/ui/features/@advisory-explorer/advisory-explorer.feature
  e2e/tests/ui/features/@advisory-explorer/advisory-explorer.step.ts
  e2e/tests/ui/helpers/DetailsPage.ts
  e2e/tests/ui/steps/details-page.ts
Labels: backport release/0.3.z, tests

#703 ci: move container organization owner
  .env
  .github/workflows/ci-e2e.yaml
Labels: backport release/0.3.z

#718 tests (fix): wrong variable reference name
  e2e/tests/ui/features/@advisory-explorer/advisory-explorer.step.ts
Labels: tests

#723 tests: extract sbom-search assertions to its own feature
  e2e/tests/ui/features/@sbom-explorer/sbom-explorer.feature
  e2e/tests/ui/features/@sbom-explorer/sbom-explorer.step.ts
  e2e/tests/ui/features/@sbom-search/sbom-search.feature
  e2e/tests/ui/features/@sbom-search/sbom-search.step.ts
Labels: tests
